* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 18px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#root {
  width: 100%;
  height: 100%;
}

.app, .map {
  width: 100%;
  height: 100%;
}

.icon {
  border-radius: 50%;
  background-color: white;
  box-shadow: 0px 0px 16px 16px rgba(241, 226, 14, 0.5);
}

button {
  background-color: white;
  border: 1px solid black;
  padding: 0.25em;
  box-shadow: 0px 0px 4px black;
}

.shadow {
  background-color: rgba(15, 15, 15, 0.9);
  box-shadow: 0px 0px 16px 8px rgba(15, 15, 15, 0.9);
  outline: 1px solid black;
  border-radius: 50%;
}

.distance {
  color: white;
}

.play_screen {
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: #FAF0E7;
  position: relative;
}
.play_screen .play_room {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
.play_screen .play_room .play_instructions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 200px;
  margin: auto;
  text-align: center;
  gap: 1em;
  padding: 1em;
  border: 2px solid black;
  box-shadow: 0px 0px 8px black;
  background-color: white;
}
.play_screen .freed_light {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5em;
  box-shadow: 0px 0px 100vmax 100vmax rgba(15, 15, 15, 0.8);
  outline: 1px solid black;
  position: absolute;
  padding: 1em;
  background-color: white;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 300px;
  text-align: center;
}
.play_screen .freed_light .light_container {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid_layout {
  display: grid;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  grid-template-areas: ". a ." "b . c" ". d .";
  margin: auto;
}
.grid_layout button {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  transition: all 0.3s;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}
.grid_layout button:nth-of-type(1) {
  grid-area: a;
}
.grid_layout button:nth-of-type(2) {
  grid-area: b;
}
.grid_layout button:nth-of-type(3) {
  grid-area: c;
}
.grid_layout button:nth-of-type(4) {
  grid-area: d;
}

.leave_button {
  position: fixed;
  top: 0.5em;
  left: 0.5em;
}

.xp_bar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 400;
  position: fixed;
  left: 50%;
  translate: -50%;
  background-color: white;
  box-shadow: 0px 0px 8px black;
  border: 1px solid black;
  top: 1em;
  width: min(95%, 300px);
  padding: 0.25em;
  gap: 0.25em;
}
.xp_bar .level {
  width: 90%;
  text-align: start;
}
.xp_bar .bar {
  width: 90%;
  background-color: rgba(15, 15, 15, 0.9);
  border-radius: 0.5em;
  box-shadow: 0px 0px 4px black;
  border: 1px solid black;
  overflow: hidden;
}
.xp_bar .bar div {
  height: 1em;
  background-color: rgb(241, 226, 14);
  position: relative;
}
.xp_bar .bar div::after {
  content: "";
  position: absolute;
  right: -0.5em;
  width: 1.1em;
  height: 100%;
  background-color: rgb(241, 226, 14);
  border-radius: 52% 48% 47% 53%/49% 51% 54% 46%;
  -webkit-animation: spin 2s infinite linear;
          animation: spin 2s infinite linear;
}
@-webkit-keyframes spin {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}
@keyframes spin {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}
.xp_bar .progress {
  width: 90%;
  text-align: end;
}

.nav {
  position: fixed;
  margin: auto;
  bottom: 1em;
  left: 50%;
  translate: -50%;
  width: min(95%, 300px);
  z-index: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.nav img {
  background-color: white;
  width: 55px;
  height: 55px;
  padding: 5px;
  box-shadow: 0px 0px 8px black;
  border: 1px solid black;
}

.nav_directory {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #FAF0E7;
  top: 0;
  z-index: 401;
}

.inventory .lights_grid {
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  gap: 1em;
  width: 100%;
  max-width: 700px;
  padding: 1em;
  padding-top: 3em;
  height: 100vh;
  overflow: auto;
  margin: auto;
}
.inventory .lights_grid .lights_container {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inventory .delete_button {
  position: fixed;
  top: 0.5em;
  right: 0.5em;
}
.inventory button {
  z-index: 401;
}
.inventory .delete_modal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid black;
  width: 300px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  text-align: center;
  gap: 1em;
  padding: 1em;
  box-shadow: 0px 0px 100vmax 100vmax rgba(15, 15, 15, 0.7);
  z-index: 402;
}

.lights {
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.quests {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: auto;
  gap: 1.5em;
}
.quests .size_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 15px;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}
.quests .size_container .color_container {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
}
.quests #info {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 1.2em;
  width: 1.2em;
  font-size: 1.5em;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  position: fixed;
  top: 0.25em;
  right: 0.25em;
}
.quests span {
  width: 300px;
}
.quests dialog {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: min(500px, 95%);
  margin: auto;
  padding: 1em;
  box-shadow: 0px 0px 100vmax 100vmax rgba(15, 15, 15, 0.8);
  border: 2px solid black;
  text-align: center;
  gap: 1em;
}

.three {
  width: 40%;
}

.four {
  width: 50%;
}

.five {
  width: 60%;
}

.six {
  width: 70%;
}

.seven {
  width: 80%;
}

.green {
  background-color: rgba(37, 233, 37, 0.5);
  box-shadow: 0px 0px 15px 4px rgb(37, 233, 37);
}

.blue {
  background-color: rgba(7, 63, 218, 0.5);
  box-shadow: 0px 0px 15px 4px rgb(7, 63, 218);
}

.purple {
  background-color: rgba(120, 14, 241, 0.5);
  box-shadow: 0px 0px 15px 4px rgb(120, 14, 241);
}

.red {
  background-color: rgba(241, 14, 44, 0.5);
  box-shadow: 0px 0px 15px 4px rgb(241, 14, 44);
}

.yellow {
  background-color: rgba(241, 226, 14, 0.5);
  box-shadow: 0px 0px 15px 4px rgb(241, 226, 14);
}

.searching {
  width: 100vw;
  height: 100vh;
  background-color: #FAF0E7;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2em;
}
.searching #elips {
  -webkit-animation: up;
          animation: up;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}
.searching #elips span {
  font-size: 3em;
  font-weight: bold;
  transition: all ease-in-out;
}
.searching #elips span:nth-of-type(1) {
  -webkit-animation: bounce 1.5s linear 0.6s infinite;
          animation: bounce 1.5s linear 0.6s infinite;
}
.searching #elips span:nth-of-type(2) {
  -webkit-animation: bounce 1.5s linear 1.2s infinite;
          animation: bounce 1.5s linear 1.2s infinite;
}
.searching #elips span:nth-of-type(3) {
  -webkit-animation: bounce 1.5s linear 1.7s infinite;
          animation: bounce 1.5s linear 1.7s infinite;
}
.searching #compass {
  height: 200px;
  width: 200px;
  background-color: lightgray;
  border-radius: 50%;
  padding: 1em;
  border: 4px solid darkgray;
  box-shadow: 0px 0px 8px 2px black;
}
.searching #compass #dial {
  height: 100%;
  width: 100%;
  background-color: lightblue;
  border-radius: 50%;
  border: 4px solid #2a65e4;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.searching #compass #dial #markings span {
  position: absolute;
  height: 1em;
  width: 1em;
  background-color: white;
  border-radius: 0 50% 50% 0;
  box-shadow: 0px 0px 2px black;
}
.searching #compass #dial #markings span:nth-of-type(1) {
  top: 0;
  left: 50%;
  translate: -50% 0;
  rotate: 90deg;
}
.searching #compass #dial #markings span:nth-of-type(2) {
  top: 50%;
  right: 0;
  translate: 0% -50%;
  rotate: 180deg;
}
.searching #compass #dial #markings span:nth-of-type(3) {
  bottom: 0%;
  left: 50%;
  translate: -50% 0;
  rotate: 270deg;
}
.searching #compass #dial #markings span:nth-of-type(4) {
  top: 50%;
  left: 0;
  translate: 0% -50%;
}
.searching #compass #dial #needle {
  width: 130px;
  height: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  filter: drop-shadow(0px 0px 2px black);
  -webkit-animation: spin 10s linear infinite;
          animation: spin 10s linear infinite;
}
.searching #compass #dial #needle::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  height: 1em;
  width: 1em;
  background-color: #FAF0E7;
}
.searching #compass #dial #needle span:first-of-type {
  width: 0;
  height: 0;
  border-top: 0.75em solid transparent;
  border-bottom: 0.75em solid transparent;
  border-right: 65px solid rgb(241, 14, 44);
}
.searching #compass #dial #needle span:last-of-type {
  width: 0;
  height: 0;
  border-top: 0.75em solid transparent;
  border-bottom: 0.75em solid transparent;
  border-left: 65px solid rgb(7, 63, 218);
}

@keyframes spin {
  0% {
    rotate: 0deg;
  }
  10% {
    rotate: 90deg;
  }
  30% {
    rotate: -90deg;
  }
  35% {
    rotate: -45deg;
  }
  50% {
    rotate: -180deg;
  }
  65% {
    rotate: -45deg;
  }
  85% {
    rotate: 135deg;
  }
  100% {
    rotate: 0deg;
  }
}
.story {
  width: 100vw;
  height: 100vh;
  background-color: #FAF0E7;
  display: flex;
  justify-content: center;
  align-items: center;
}
.story > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  width: min(100%, 500px);
  height: min(100%, 1000px);
  padding: 2em 1em;
  box-shadow: inset 0px 0px 20px 20px black;
}
.story > div p {
  padding: 1em;
  width: 300px;
  background-color: white;
  border: 1px solid black;
  box-shadow: 0px 0px 8px black;
}
.story .dark_panels {
  background-color: rgba(15, 15, 15, 0.8);
}
.story .shadow_box {
  display: grid;
  gap: 2em;
  grid-template-areas: ". a ." "b . ." ". . c";
}
.story .shadow_box span {
  border-radius: 50%;
  background-color: rgba(15, 15, 15, 0.9);
  box-shadow: 0px 0px 8px 8px black;
}
.story .shadow_box span:nth-of-type(1) {
  grid-area: a;
  height: 50px;
  width: 50px;
}
.story .shadow_box span:nth-of-type(2) {
  grid-area: b;
  height: 70px;
  width: 70px;
}
.story .shadow_box span:nth-of-type(3) {
  grid-area: c;
  height: 30px;
  width: 30px;
}
.story .light_box {
  display: grid;
  gap: 2em;
  grid-template-areas: "a . ." ". . b" ". c .";
}
.story .light_box span {
  border-radius: 50%;
}
.story .light_box span:nth-of-type(1) {
  grid-area: a;
  height: 50px;
  width: 50px;
  background-color: rgba(241, 14, 44, 0.5);
  box-shadow: 0px 0px 15px 4px rgb(241, 14, 44);
}
.story .light_box span:nth-of-type(2) {
  grid-area: b;
  height: 70px;
  width: 70px;
  background-color: rgba(120, 14, 241, 0.5);
  box-shadow: 0px 0px 15px 4px rgb(120, 14, 241);
}
.story .light_box span:nth-of-type(3) {
  grid-area: c;
  height: 30px;
  width: 30px;
  background-color: rgba(7, 63, 218, 0.5);
  box-shadow: 0px 0px 15px 4px rgb(7, 63, 218);
}
.story #kiluket {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0px 0px 32px 8px rgba(241, 226, 14, 0.5);
}/*# sourceMappingURL=App.css.map */