
@mixin flexCenter() {
    display: flex;
    justify-content: center;
    align-items: center;
}

$green: rgb(37, 233, 37);
$light-green: rgba(37, 233, 37, 0.5);
$blue: rgb(7, 63, 218);
$light-blue: rgba(7, 63, 218, 0.5);
$purple: rgb(120, 14, 241);
$light-purple: rgba(120, 14, 241, 0.5);
$red: rgb(241, 14, 44);
$light-red: rgba(241, 14, 44, 0.5);
$yellow: rgb(241, 226, 14);
$light-yellow: rgba(241, 226, 14, 0.5);
$bg: #FAF0E7;


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html {
    width: 100%;
    height: 100%; 
}

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#root {
    width: 100%;
    height: 100%;
}

.app, .map {
    width: 100%;
    height: 100%;
}

.app {
    @include flexCenter();
}

.icon {
    border-radius: 50%;
    background-color: white;
    box-shadow: 0px 0px 16px 16px $light-yellow;
}
button {
    background-color: white;
    border: 1px solid black;
    padding: 0.25em;
    box-shadow: 0px 0px 4px black;
}

.shadow {
    background-color: rgba(15, 15, 15, 0.9);
    box-shadow: 0px 0px 16px 8px rgba(15, 15, 15, 0.9);
    outline: 1px solid black;
    border-radius: 50%;
}

.distance {
    color: white;
}

.play_screen {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: $bg;
    overflow: hidden;
    .play_room {
        @include flexCenter();
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        .play_instructions {
            @include flexCenter();
            flex-direction: column;
            justify-content: space-between;
            width: 300px;
            height: 200px;
            margin: auto;
            text-align: center;
            gap: 1em;
            padding: 1em;
            border: 2px solid black;
            box-shadow: 0px 0px 8px black;
            background-color: white;
        }
    }
    .freed_light {
        @include flexCenter();
        flex-direction: column;
        gap: 0.5em;
        box-shadow: 0px 0px 100vmax 100vmax rgba(15, 15, 15, 0.8);
        outline: 1px solid black;
        position: absolute;
        padding: 1em;
        background-color: white;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 300px;
        text-align: center;
        .light_container {
            width: 100px;
            height: 100px;
            @include flexCenter();
        }
    }
}

.grid_layout {
    display: grid;
    width: fit-content;
    grid-template-areas: 
    ". a ."
    "b . c"
    ". d .";
    margin: auto;
    button {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        transition: all 0.3s;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        -webkit-tap-highlight-color: transparent;
        &:nth-of-type(1) {
            grid-area: a;
        }
        &:nth-of-type(2) {
            grid-area: b;
        }
        &:nth-of-type(3) {
            grid-area: c;
        }
        &:nth-of-type(4) {
            grid-area: d;
        }
   }
}

.leave_button {
    position: fixed;
    top: 0.5em;
    left: 0.5em;
}

.xp_bar {
    @include flexCenter();
    flex-direction: column;
    z-index: 400;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: white;
    box-shadow: 0px 0px 8px black;
    border: 1px solid black;
    top: 1em;
    width: calc(min(95%, 300px));
    padding: 0.25em;
    gap: 0.25em;
    .level {
        width: 90%;
        text-align: start;
    }
    .bar {
        width: 90%;
        background-color: rgba(15, 15, 15, 0.9);
        border-radius: 0.5em;
        box-shadow: 0px 0px 4px black;
        border: 1px solid black;
        overflow: hidden;
        div {
            height: 1em;
            background-color: $yellow;
            position: relative;
            &::after {
                content: '';
                position: absolute;
                right: -0.5em;
                width: 1.1em;
                height: 100%;
                background-color: $yellow;
                border-radius: 52% 48% 47% 53% / 49% 51% 54% 46%;
                animation: spin 2s infinite linear;
            }
        }
        @keyframes spin {
            from {
                rotate: 0deg;
            } to {
                rotate: 360deg;
            }
        }
    }
    .progress {
        width: 90%;
        text-align: end;
    }
}

.nav {
    position: fixed;
    margin: auto;
    bottom: 1em;
    left: 50%;
    transform: translate(-50%, 0);
    width: calc(min(95%, 300px));
    z-index: 400;
    @include flexCenter();
    justify-content: space-between;
    img {
        background-color: white;
        width: 55px;
        height: 55px;
        padding: 5px;
        box-shadow: 0px 0px 8px black;
        border: 1px solid black;
    }
}

.nav_directory {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: $bg;
    top: 0;
    z-index: 401;
}

.inventory {
    overflow: hidden;
    .lights_grid {
        display: flex;
        justify-content: center;
        align-content: flex-start;
        flex-wrap: wrap;
        gap: 1em;
        width: 100%;
        max-width: 700px;
        padding: 1em;
        padding-top: 3em;
        height: 100%;
        overflow: auto;
        margin: auto;
        .lights_container {
            width: 100px;
            height: 100px;
            @include flexCenter();
        }
    }
    .delete_button {
        position: fixed;
        top: 0.5em;
        right: 0.5em;
    }
    button {
        z-index: 401;
    }
    .delete_modal {
        @include flexCenter();
        flex-direction: column;
        border: 2px solid black;
        width: 300px;
        background-color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        gap: 1em;
        padding: 1em;
        box-shadow: 0px 0px 100vmax 100vmax rgba(15, 15, 15, 0.7);
        z-index: 402;
    }
}

.lights {
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.quests {
    @include flexCenter();
    flex-direction: column;
    overflow: auto;
    gap: 1.5em;
    .size_container {
        @include flexCenter();
        width: fit-content;
        border-radius: 15px;
        overflow: hidden;
        transition: all 0.5s ease-in-out;
        .color_container {
            width: 60px;
            height: 60px;
            @include flexCenter();
            transition: all 0.5s ease-in-out
        }
    }
    #info {
        @include flexCenter();
        border-radius: 50%;
        height: 1.2em;
        width: 1.2em;
        font-size: 1.5em;
        font-weight: bold;
        font-family: 'Times New Roman', Times, serif;
        position: fixed;
        top: 0.25em;
        right: 0.25em;
    }
    span {
        width: 300px;
    }
    dialog {
        @include flexCenter();
        flex-direction: column;
        width: calc(min(500px, 95%));
        margin: auto;
        padding: 1em;
        box-shadow: 0px 0px 100vmax 100vmax rgba(15, 15, 15, 0.8);
        border: 2px solid black;
        text-align: center;
        gap: 1em;
    }
}


.three {width: 40%;}

.four {width: 50%;}

.five {width: 60%;}

.six {width: 70%;}

.seven {width: 80%;}

.green {
  background-color: $light-green;
  box-shadow: 0px 0px 15px 4px $green;
}

.blue {
   background-color: $light-blue;
   box-shadow: 0px 0px 15px 4px $blue;
}

.purple {
   background-color: $light-purple;
   box-shadow: 0px 0px 15px 4px $purple;
}

.red {
   background-color: $light-red;
   box-shadow: 0px 0px 15px 4px $red;
}

.yellow {
   background-color: $light-yellow;
   box-shadow: 0px 0px 15px 4px $yellow;
}

.searching {
    width: 100%;
    height: 100%;
    background-color: $bg;
    overflow: hidden;
    @include flexCenter();
    flex-direction: column;
    gap: 2em;
    #elips {
        animation: up;
        @include flexCenter();
        gap: 0.5em;
        span {
            font-size: 3em;
            font-weight: bold;
            transition: all ease-in-out;
            &:nth-of-type(1) {
                animation: bounce 1.5s linear 0.6s infinite;
            }
            &:nth-of-type(2) {
                animation: bounce 1.5s linear 1.2s infinite;
            }
            &:nth-of-type(3) {
                animation: bounce 1.5s linear 1.7s infinite;
            }
        }
    }
    #compass {
        height: 200px;
        width: 200px;
        background-color: lightgray;
        border-radius: 50%;
        padding: 1em;
        border: 4px solid darkgray;
        box-shadow: 0px 0px 8px 2px black;
        #dial {
            height: 100%;
            width: 100%;
            background-color: lightblue;
            border-radius: 50%;
            border: 4px solid #2a65e4;
            @include flexCenter();
            position: relative;
            #markings {
                span {
                    position: absolute;
                    height: 1em;
                    width: 1em;
                    background-color: white;
                    border-radius: 0 50% 50% 0;
                    box-shadow: 0px 0px 2px black;
                    &:nth-of-type(1) {
                        top: 0;
                        left: 50%;
                        transform: translate(-50%, 0);
                        rotate: 90deg;
                    }
                    &:nth-of-type(2) {
                        top: 50%;
                        right: 0;
                        transform: translate(0%, -50%);
                        rotate: 180deg;
                    }
                    &:nth-of-type(3) {
                        bottom: 0%;
                        left: 50%;
                        transform: translate(-50%, 0);
                        rotate: 270deg;
                    }
                    &:nth-of-type(4) {
                        top: 50%;
                        left: 0;
                        transform: translate(0%, -50%);
                    }
                }
            }
            #needle {
                width: 130px;
                height: 1.5em;
                @include flexCenter();
                position: absolute;
                filter: drop-shadow(0px 0px 2px black);
                animation: spin 10s linear infinite;
                &::after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    border-radius: 50%;
                    height: 1em;
                    width: 1em;
                    background-color: $bg;
                }
                span {
                    &:first-of-type {
                        width: 0; 
                        height: 0; 
                        border-top: 0.75em solid transparent;
                        border-bottom: 0.75em solid transparent; 
                        border-right: 65px solid $red;
                    }
                    &:last-of-type {
                        width: 0; 
                        height: 0; 
                        border-top: 0.75em solid transparent;
                        border-bottom: 0.75em solid transparent;  
                        border-left: 65px solid $blue;
                    }
                }
            }
        }
    }
}

@keyframes spin {
    0% {
        rotate: 0deg;
    } 10% {
        rotate: 90deg;
    } 30% {
        rotate: -90deg;
    } 35% {
        rotate: -45deg;
    } 50% {
        rotate: -180deg;
    } 65% {
        rotate: -45deg;
    } 85% {
        rotate: 135deg;
    } 100% {
        rotate: 0deg;
    }
}

.story {
    width: 100%;
    height: 100%;
    background-color: $bg;
    @include flexCenter();
    > div {
        @include flexCenter();
        flex-direction: column;
        justify-content: space-between;
        width: calc(min(100%, 500px));
        height: calc(min(100%, 1000px));
        padding: 2em 1em;
        box-shadow: inset 0px 0px 20px 20px black;
        p {
            padding: 1em;
            width: 300px;
            background-color: white;
            border: 1px solid black;
            box-shadow: 0px 0px 8px black;
        }
    }
    .dark_panels {
        background-color: rgba(15, 15, 15, 0.8);
    }
    .shadow_box {
        display: grid;
        gap: 2em;
        grid-template-areas:
        ". a ."
        "b . ."
        ". . c";
        span {
            border-radius: 50%;
            background-color: rgba(15, 15, 15, 0.9);
            box-shadow: 0px 0px 8px 8px black;
            &:nth-of-type(1) {
                grid-area: a;
                height: 50px;
                width: 50px;
            }
            &:nth-of-type(2) {
                grid-area: b;
                height: 70px;
                width: 70px;
            }
            &:nth-of-type(3) {
                grid-area: c;
                height: 30px;
                width: 30px;
            }
       }
    }
    .light_box {
        display: grid;
        gap: 2em;
        grid-template-areas:
        "a . ."
        ". . b"
        ". c .";
        span {
            border-radius: 50%;
            &:nth-of-type(1) {
                grid-area: a;
                height: 50px;
                width: 50px;
                background-color: $light-red;
                box-shadow: 0px 0px 15px 4px $red;
            }
            &:nth-of-type(2) {
                grid-area: b;
                height: 70px;
                width: 70px;
                background-color: $light-purple;
                box-shadow: 0px 0px 15px 4px $purple;
            }
            &:nth-of-type(3) {
                grid-area: c;
                height: 30px;
                width: 30px;
                background-color: $light-blue;
                box-shadow: 0px 0px 15px 4px $blue;
            }
       }
    }
    #kiluket {
        height: 100px;
        width: 100px;
        border-radius: 50%;
        background-color: white;
        box-shadow: 0px 0px 32px 8px $light-yellow;
    }
}