* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 18px;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#root {
  width: 100%;
  height: 100%;
}

.app, .map {
  width: 100%;
  height: 100%;
}

.icon {
  border-radius: 50%;
  background-color: black;
  filter: opacity(0.2) invert(1);
}

.shadow {
  background-color: black;
  box-shadow: 0px 0px 4px white;
  border-radius: 50%;
}

.distance {
  color: white;
}

.play_screen {
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: white;
  position: relative;
}

.grid_layout {
  display: grid;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  grid-template-areas: ". a ." "b . c" ". d .";
  margin: auto;
}
.grid_layout button {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  transition: background-color 0.3s ease-in-out;
}
.grid_layout button:nth-of-type(1) {
  grid-area: a;
}
.grid_layout button:nth-of-type(2) {
  grid-area: b;
}
.grid_layout button:nth-of-type(3) {
  grid-area: c;
}
.grid_layout button:nth-of-type(4) {
  grid-area: d;
}

.nav {
  position: absolute;
  margin: auto;
  bottom: 2em;
  width: 100%;
  z-index: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}
.nav button {
  z-index: 400;
  font-size: 2em;
  height: 1em;
  width: 1em;
}

.nav_directory {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: white;
  top: 0;
  z-index: 401;
}

.inventory .lights_grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1em;
  width: 100%;
  padding: 1em;
}
.inventory .lights_grid .lights_container {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inventory .delete_modal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
  width: 300px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  text-align: center;
  gap: 1em;
  padding: 1em;
  box-shadow: 0px 0px 100vmax 100vmax rgba(15, 15, 15, 0.5);
}

.lights {
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.quests {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: auto;
  gap: 1.5em;
}
.quests .size_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 15px;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}
.quests .size_container .color_container {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
}
.quests .locked {
  filter: blur(7.5px);
  box-shadow: none;
}

.three {
  width: 40%;
}

.four {
  width: 50%;
}

.five {
  width: 60%;
}

.six {
  width: 70%;
}

.seven {
  width: 80%;
}

.green {
  background-color: rgba(37, 233, 37, 0.5);
  box-shadow: 0px 0px 15px 4px rgb(37, 233, 37);
}

.blue {
  background-color: rgba(7, 63, 218, 0.5);
  box-shadow: 0px 0px 15px 4px rgb(7, 63, 218);
}

.purple {
  background-color: rgba(120, 14, 241, 0.5);
  box-shadow: 0px 0px 15px 4px rgb(120, 14, 241);
}

.red {
  background-color: rgba(241, 14, 44, 0.5);
  box-shadow: 0px 0px 15px 4px rgb(241, 14, 44);
}

.yellow {
  background-color: rgba(241, 226, 14, 0.5);
  box-shadow: 0px 0px 15px 4px rgb(241, 226, 14);
}/*# sourceMappingURL=App.css.map */